### Probability in Python

In [3]:
import pandas as pd
import numpy as np

amir = pd.read_csv('amir_deals.csv', index_col=0)

amir.head()

     product   client status   amount  num_users
1  Product F  Current    Won  7389.52         19
2  Product C      New    Won  4493.01         43
3  Product B      New    Won  5738.09         87
4  Product I  Current    Won  2591.24         83
5  Product E  Current    Won  6622.97         17

In [6]:
# Access the 'product' column and use .value_counts()
counts = amir['product'].value_counts()
print(counts)

product
Product B    62
Product D    40
Product A    23
Product C    15
Product F    11
Product H     8
Product I     7
Product E     5
Product N     3
Product G     2
Product J     2
Name: count, dtype: int64