## Useful Functions for Summarizing Data

- **describe()**: Provides summary statistics for each column
- **mean()**: Returns the mean of all columns
- **corr()**: Returns the correlation between columns in a DataFrame
- **count()**: Returns the number of non-null values in each DataFrame column
- **max()**: Returns the highest value in each column
- **min()**: Returns the lowest value in each column
- **median()**: Returns the median of each column
- **std()**: Returns the standard deviation
- **groupby()**: Splits data into groups
- **sum()**: Returns the sum of each column

In [5]:
# Summarizing numercial data with pandas
import pandas as pd

# Create a dictionary with data about dogs
data = {
    'Name': ['Bella', 'Lucy', 'Max', 'Charlie', 'Buddy', 'Rocky', 'Molly', 'Daisy', 'Bailey', 'Lola'],
    'Age': [3, 5, 2, 4, 6, 1, 7, 3, 5, 2],
    'Breed': ['Labrador', 'Poodle', 'Bulldog', 'Beagle', 'Pug', 'Boxer', 'Dachshund', 'Shih Tzu', 'Husky', 'Chihuahua'],
    'Weight': [22, 18, 25, 20, 10, 30, 12, 8, 28, 6]
}
# Create a DataFrame from the dictionary
df_dogs = pd.DataFrame(data)

df_dogs[['Age']].cumsum()

   Age
0    3
1    8
2   10
3   14
4   20
5   21
6   28
7   31
8   36
9   38

In [6]:
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Calculate the interquartile range for the 'Age' column
df_dogs['Age'].agg(iqr)

2.75