### Basic Pandas Methods
1. **head()** - Used to display the first *n* rows of a dataframe.
2. **tail()** - Used to display the last *n* rows of a dataframe.
3. **info()** - Used to display the summary of a dataframe.
4. **describe()** - Used to display the statistical summary of a dataframe.
5. **shape** - Used to display the number of rows and columns in a dataframe.
6. **columns** - Used to display the column names of a dataframe.
7. **index** - Used to display the index of a dataframe.
8. **values** - Used to display the values of a dataframe.
9. **dtypes** - Used to display the data types of a dataframe.

### Useful Pandas Methods for Transforming Dataframes
1. **map()** - Used to substitute each value in a series with another value.
2. **apply()** - Used to apply a function to each element in a series.
3. **applymap()** - Used to apply a function to each element in a dataframe.
4. **groupby()** - Used to group dataframes using a column.
5. **pivot_table()** - Used to create a pivot table.
6. **melt()** - Used to transform a dataframe from wide to long format.
7. **stack()** - Used to transform a dataframe from wide to long format.
8. **unstack()** - Used to transform a dataframe from long to wide format.

In [8]:
# sorting with pandas
import pandas as pd

# create a dataframe with sample data about dogs
dogs_df = pd.DataFrame({
    'Name': ['Buddy', 'Bella', 'Charlie', 'Max', 'Lucy', 'Daisy', 'Rocky', 'Molly', 'Duke', 'Luna'],
    'Age': [3, 5, 2, 4, 6, 1, 7, 8, 3, 2],
    'Breed': ['Golden Retriever', 'Labrador', 'Poodle', 'Bulldog', 'Beagle', 'Pug', 'Boxer', 'Dachshund', 'Shih Tzu', 'Chihuahua'],
    'Color': ['Gold', 'Black', 'White', 'Brown', 'Black', 'Tan', 'Brown', 'White', 'White', 'Tan'],
    'weight': [29, 10, 10, 22, 25, 15, 15, 15, 20, 10],
    'height': [59, 35, 20, 20, 35, 22, 27, 32, 44, 60]
})
dogs_df.sort_values(['Age', 'Name'], ascending=[True, False])
print(dogs_df)

dogs = dogs_df[(dogs_df['Age'] > 3) & (dogs_df['weight'] > 14)]
print(dogs)
# We can also use the query method to filter the data
mayor_que = dogs_df['Age'] > 3
peso = dogs_df['weight'] > 18
print(dogs_df)

# Subsetting with isin()
is_black_or_brown = dogs_df['Color'].isin(['Black', 'Brown'])
dogs_df[is_black_or_brown]

      Name  Age             Breed  Color  weight  height
0    Buddy    3  Golden Retriever   Gold      29      59
1    Bella    5          Labrador  Black      10      35
2  Charlie    2            Poodle  White      10      20
3      Max    4           Bulldog  Brown      22      20
4     Lucy    6            Beagle  Black      25      35
5    Daisy    1               Pug    Tan      15      22
6    Rocky    7             Boxer  Brown      15      27
7    Molly    8         Dachshund  White      15      32
8     Duke    3          Shih Tzu  White      20      44
9     Luna    2         Chihuahua    Tan      10      60
    Name  Age      Breed  Color  weight  height
3    Max    4    Bulldog  Brown      22      20
4   Lucy    6     Beagle  Black      25      35
6  Rocky    7      Boxer  Brown      15      27
7  Molly    8  Dachshund  White      15      32
      Name  Age             Breed  Color  weight  height
0    Buddy    3  Golden Retriever   Gold      29      59
1    Bella    5          Labrador  Black      10      35
2  Charlie    2            Poodle  White      10      20
3      Max    4           Bulldog  Brown      22      20
4     Lucy    6            Beagle  Black      25      35
5    Daisy    1               Pug    Tan      15      22
6    Rocky    7             Boxer  Brown      15      27
7    Molly    8         Dachshund  White      15      32
8     Duke    3          Shih Tzu  White      20      44
9     Luna    2         Chihuahua    Tan      10      60

    Name  Age     Breed  Color  weight  height
1  Bella    5  Labrador  Black      10      35
3    Max    4   Bulldog  Brown      22      20
4   Lucy    6    Beagle  Black      25      35
6  Rocky    7     Boxer  Brown      15      27

In [5]:
# ADD NEW COLUMNS TO OUR DATAFRAME

# calculate height in cm
dogs_df['height_m'] = dogs_df['height'] / 100


# calculate the BMI for each dog
dogs_df['bmi'] = dogs_df['weight'] / dogs_df['height_m'] ** 2
# Capitalize the first character in column: 'Breed'
dogs_df['Breed'] = dogs_df['Breed'].str.capitalize()

# Round column 'bmi' (Number of decimals: 0)
dogs_df = dogs_df.round({'bmi': 2})
dogs_df.head()

      Name  Age             Breed  Color  weight  height  height_m     bmi
0    Buddy    3  Golden retriever   Gold      29      59      0.59   83.31
1    Bella    5          Labrador  Black      10      35      0.35   81.63
2  Charlie    2            Poodle  White      10      20      0.20  250.00
3      Max    4           Bulldog  Brown      22      20      0.20  550.00
4     Lucy    6            Beagle  Black      25      35      0.35  204.08