### Why perform EDA?

- **Detecting patters and relationships**  
- **Generatin quesitons, or HYPOTHESES**  
- **Preparing data for machine learning**

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

salaries = pd.read_csv('datasets/ds_salaries_clean.csv')
salaries.head()

,Working_Year,Designation,Experience,Employment_Status,Employee_Location,Company_Size,Remote_Working_Ratio,Salary_USD
0,2020,Data Scientist,Mid,FT,DE,L,0,76227.0
1,2020,Machine Learning Scientist,Senior,FT,JP,S,0,248257.0
2,2020,Big Data Engineer,Senior,FT,GB,M,50,104100.0
3,2020,Product Data Analyst,Mid,FT,HN,S,0,19097.0
4,2020,Machine Learning Engineer,Senior,FT,US,L,50,143225.0

In [5]:

salaries['Designation'].value_counts(normalize = True)

Designation
Data Scientist                              0.235585
Data Engineer                               0.217463
Data Analyst                                0.159802
Machine Learning Engineer                   0.067545
Research Scientist                          0.026359
Data Science Manager                        0.019769
Data Architect                              0.018122
Big Data Engineer                           0.013180
Machine Learning Scientist                  0.013180
Principal Data Scientist                    0.011532
AI Scientist                                0.011532
Data Science Consultant                     0.011532
Director of Data Science                    0.011532
Data Analytics Manager                      0.011532
ML Engineer                                 0.009885
Computer Vision Engineer                    0.009885
BI Data Analyst                             0.009885
Lead Data Engineer                          0.009885
Data Engineering Manager                    0.008237
Business Data Analyst                       0.008237
Head of Data                                0.008237
Applied Data Scientist                      0.008237
Applied Machine Learning Scientist          0.006590
Head of Data Science                        0.006590
Analytics Engineer                          0.006590
Data Analytics Engineer                     0.006590
Machine Learning Developer                  0.004942
Machine Learning Infrastructure Engineer    0.004942
Lead Data Scientist                         0.004942
Computer Vision Software Engineer           0.004942
Lead Data Analyst                           0.004942
Data Science Engineer                       0.004942
Principal Data Engineer                     0.004942
Principal Data Analyst                      0.003295
ETL Developer                               0.003295
Product Data Analyst                        0.003295
Director of Data Engineering                0.003295
Financial Data Analyst                      0.003295
Cloud Data Engineer                         0.003295
Lead Machine Learning Engineer              0.001647
NLP Engineer                                0.001647
Head of Machine Learning                    0.001647
3D Computer Vision Researcher               0.001647
Data Specialist                             0.001647
Staff Data Scientist                        0.001647
Big Data Architect                          0.001647
Finance Data Analyst                        0.001647
Marketing Data Analyst                      0.001647
Machine Learning Manager                    0.001647
Data Analytics Lead                         0.001647
Name: proportion, dtype: float64

In [8]:
pd.crosstab(salaries['Designation'], salaries['Experience'])

Experience                                Entry  Executive  Mid  Senior
Designation
3D Computer Vision Researcher                 0          0    1       0
AI Scientist                                  4          0    2       1
Analytics Engineer                            0          2    0       2
Applied Data Scientist                        1          0    2       2
Applied Machine Learning Scientist            1          0    3       0
BI Data Analyst                               2          1    3       0
Big Data Architect                            0          0    0       1
Big Data Engineer                             3          0    3       2
Business Data Analyst                         2          0    3       0
Cloud Data Engineer                           0          0    1       1
Computer Vision Engineer                      3          0    0       3
Computer Vision Software Engineer             2          0    1       0
Data Analyst                                 12          2   29      54
Data Analytics Engineer                       1          0    1       2
Data Analytics Lead                           0          0    0       1
Data Analytics Manager                        0          0    0       7
Data Architect                                0          0    3       8
Data Engineer                                12          4   53      63
Data Engineering Manager                      0          1    1       3
Data Science Consultant                       5          1    1       0
Data Science Engineer                         0          0    1       2
Data Science Manager                          0          0    2      10
Data Scientist                               22          0   60      61
Data Specialist                               0          0    0       1
Director of Data Engineering                  0          0    0       2
Director of Data Science                      0          6    0       1
ETL Developer                                 0          0    2       0
Finance Data Analyst                          0          0    0       1
Financial Data Analyst                        1          0    1       0
Head of Data                                  0          2    1       2
Head of Data Science                          0          3    1       0
Head of Machine Learning                      0          1    0       0
Lead Data Analyst                             0          0    2       1
Lead Data Engineer                            0          1    1       4
Lead Data Scientist                           0          0    1       2
Lead Machine Learning Engineer                0          0    0       1
ML Engineer                                   2          0    3       1
Machine Learning Developer                    1          0    1       1
Machine Learning Engineer                     9          0   12      20
Machine Learning Infrastructure Engineer      0          0    2       1
Machine Learning Manager                      0          0    0       1
Machine Learning Scientist                    1          0    4       3
Marketing Data Analyst                        0          0    0       1
NLP Engineer                                  0          0    1       0
Principal Data Analyst                        0          0    1       1
Principal Data Engineer                       0          1    0       2
Principal Data Scientist                      0          1    1       5
Product Data Analyst                          0          0    2       0
Research Scientist                            4          0    7       5
Staff Data Scientist                          0          0    0       1

In [12]:
# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries["Designation"], salaries["Company_Size"], values = salaries['Salary_USD'], aggfunc='mean' ))

Company_Size                                          L              M  \
Designation
3D Computer Vision Researcher                       NaN    5165.000000
AI Scientist                              121741.500000   63019.000000
Analytics Engineer                                  NaN  167096.000000
Applied Data Scientist                    167721.400000            NaN
Applied Machine Learning Scientist        237754.000000   33550.500000
BI Data Analyst                            88923.000000   94528.500000
Big Data Architect                                  NaN   95200.000000
Big Data Engineer                          27384.750000   80695.000000
Business Data Analyst                      87132.000000   17609.000000
Cloud Data Engineer                        85261.000000            NaN
Computer Vision Engineer                            NaN   42467.750000
Computer Vision Software Engineer                   NaN   66838.000000
Data Analyst                               78084.230769   95049.368421
Data Analytics Engineer                    90326.000000   33419.500000
Data Analytics Lead                       386708.000000            NaN
Data Analytics Manager                    124128.500000  120297.600000
Data Architect                            159139.000000  173852.875000
Data Engineer                              99547.162162  113981.134831
Data Engineering Manager                  132920.750000            NaN
Data Science Consultant                    77553.000000    5449.000000
Data Science Engineer                      89382.500000   38374.000000
Data Science Manager                      136662.000000  165692.833333
Data Scientist                             98647.177778  120672.623377
Data Specialist                           157548.000000            NaN
Director of Data Engineering              190967.000000  108351.000000
Director of Data Science                  203855.200000  124153.000000
ETL Developer                                       NaN   52475.000000
Finance Data Analyst                       59100.000000            NaN
Financial Data Analyst                    262579.000000            NaN
Head of Data                              180730.666667  190967.000000
Head of Data Science                                NaN  151779.000000
Head of Machine Learning                   75469.000000            NaN
Lead Data Analyst                          88038.666667            NaN
Lead Data Engineer                        263534.000000   53471.000000
Lead Data Scientist                        74272.000000            NaN
Lead Machine Learning Engineer                      NaN   83960.000000
ML Engineer                               139397.500000            NaN
Machine Learning Developer                          NaN   75232.000000
Machine Learning Engineer                  94016.615385  121007.875000
Machine Learning Infrastructure Engineer   55624.000000  117053.500000
Machine Learning Manager                  111815.000000            NaN
Machine Learning Scientist                172419.250000   78774.000000
Marketing Data Analyst                     84650.000000            NaN
NLP Engineer                               35554.000000            NaN
Principal Data Analyst                              NaN  162322.000000
Principal Data Engineer                   374772.000000  190967.000000
Principal Data Scientist                  192876.333333  154268.666667
Product Data Analyst                        5798.000000            NaN
Research Scientist                         92108.000000  183474.000000
Staff Data Scientist                                NaN  100258.000000

Company_Size                                          S
Designation
3D Computer Vision Researcher                       NaN
AI Scientist                               24173.000000
Analytics Engineer                                  NaN
Applied Data Scientist                              NaN
Applied Machine Learning Scientist                  NaN
BI Data Analyst                            30684.500000
Big Data Architect                                  NaN
Big Data Engineer                          63041.500000
Business Data Analyst                               NaN
Cloud Data Engineer                       152773.000000
Computer Vision Engineer                   42303.500000
Computer Vision Software Engineer         117323.500000
Data Analyst                               45601.875000
Data Analytics Engineer                             NaN
Data Analytics Lead                                 NaN
Data Analytics Manager                              NaN
Data Architect                                      NaN
Data Engineer                              63346.000000
Data Engineering Manager                   56625.000000
Data Science Consultant                    75296.333333
Data Science Engineer                               NaN
Data Science Manager                                NaN
Data Scientist                             49580.428571
Data Specialist                                     NaN
Director of Data Engineering                        NaN
Director of Data Science                  160412.000000
ETL Developer                                       NaN
Finance Data Analyst                                NaN
Financial Data Analyst                              NaN
Head of Data                               31485.000000
Head of Data Science                      105032.000000
Head of Machine Learning                            NaN
Lead Data Analyst                                   NaN
Lead Data Engineer                        120869.250000
Lead Data Scientist                       181418.000000
Lead Machine Learning Engineer                      NaN
ML Engineer                                98596.500000
Machine Learning Developer                 95483.000000
Machine Learning Engineer                  78960.333333
Machine Learning Infrastructure Engineer            NaN
Machine Learning Manager                            NaN
Machine Learning Scientist                181418.500000
Marketing Data Analyst                              NaN
NLP Engineer                                        NaN
Principal Data Analyst                     71613.000000
Principal Data Engineer                             NaN
Principal Data Scientist                  397211.000000
Product Data Analyst                       19097.000000
Research Scientist                         50958.500000
Staff Data Scientist                                NaN